<template>
    <div class="transactions-admin">
        <div class="container-fluid" style="background: #fff;">
        <div class="container text-center">
            <div class="row">
            <div class="col-4">
                <header>
                <h1>Manage Category Product</h1>
                
                <!-- Form -->
                <form>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div>
                    <div class="button-wrap">
                        <button class="btn btn-danger">Delete</button>
                        <button class="btn btn-primary">Edit</button>
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </form>
                </header>
            </div>
            <div class="col">
                <!-- Table -->
                <legend>Category product table</legend>
                <table class="table table-hover">
                    <thead>
                        <tr>
                        <th scope="col">ID</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        </tr>
                        <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                        </tr>
                        <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>@twitter</td>
                        </tr>
                    </tbody>
                    </table>
            </div>
            </div>
        </div>
        </div>
    </div>
</template>

<style scoped lang="scss">
.col, .col-4 {
    margin: 20px;
    padding: 30px;
    text-align: left;
    border: 1px solid orangered;
    border-radius: 5px;
}

button:hover {
    scale: 1;
}
</style>
