<template>
<div class="home-admin">
  <div class="container-fluid" style="background: #fff;">
    <div class="container text-center">
      <div class="row">
        <div class="col">
          <header>
            <h1>Welcome to Admin page</h1>
            <p>You can manage product and transaction now!</p>
            <router-link to="/transactions"><button>Manage Now</button></router-link>
          </header>
        </div>
        <div class="col">
          <img src="@/assets/logo.png" alt="Vue JS" style="width: 135px; background: #000; border-radius: 100%;">
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<style scoped lang="scss">
</style>
