<template>
    <header>
        <nav class="navbar navbar-expand-lg" style="background-color: #c7c7c7;">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Ecooper Admin</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                        <router-link class="nav-link"  to="/">Home</router-link>
                        </li>
                        <li class="nav-item">
                            <router-link class="nav-link" to="/transactions">Transactions</router-link>
                        </li>
                        <li class="nav-item dropdown">
                        <router-link class="nav-link dropdown-toggle" to="/Dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Product
                        </router-link>
                        <ul class="dropdown-menu">
                            <li><router-link class="dropdown-item" to="/product">Product</router-link></li>
                            <li><router-link class="dropdown-item" to="/category">Category</router-link></li>
                        </ul>
                        </li>
                        <li class="nav-item">
                            <router-link class="nav-link" to="/admin">Admin</router-link>
                        </li>
                        <li class="nav-item dropdown">
                            <router-link class="nav-link dropdown" to="/Dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="@/assets/img/icon/account.png" alt="Account" id="account-nav">
                            </router-link>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">See profile</a></li>
                                <li><a class="dropdown-item" href="#">Edit profile</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="navbar" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-danger" type="submit">Search</button>
                        </form>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
</template>

<style scoped lang="scss">
#account-nav {
    border-radius: 100%;
    width: 22px;
    height: 22px;
    border: 1px solid orange;
}
</style>