<template>
<div id="app">
  <the-navbar-admin></the-navbar-admin>
  <router-view/>
  <the-footer></the-footer>
</div>
</template>

<script>
import TheNavbarAdmin from '@/components/TheNavbarAdmin.vue'
import TheFooter from '@/components/TheFooter.vue'

export default {
name: 'App',
  components: {
    TheNavbarAdmin,
    TheFooter,
  }
}
</script>

<style lang="scss">
* {
padding: 0;
margin: 0;
}

#app {
font-family: Avenir, Helvetica, Arial, sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
text-align: center;
color: #252525;
}

h1 {
font-size: 36px;
}

p {
font-size: 16px;
}

button {
padding: 5px 9px 5px 9px;
border-radius: 5px;
background: #c7c7c7;
}

button:hover {
background: #fff;
border-color: orangered;
color: orangered;
scale: 1.2;
}

form {
align-items: flex-start;
justify-content: flex-start;
text-align: left;
}

.col header {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
  justify-content: flex-start;
}

.col {
    margin: 20px;
    padding: 30px;
}

.button-wrap {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: flex-start;
  align-items: flex-start;
}

nav {
a {
  font-weight: bold;
  color: #2c3e50;

  &.router-link-exact-active {
    color: orangered;
  }
}
}

</style>
